:host {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: whitesmoke;
  font-family: sans-serif;
  min-height: 15em;
}
.hero-container {
  width:100vw;
  min-height: 15em;
  background-size: cover;
  padding: 2em;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.hero-row {
  line-height:15em;
  padding-right:3em;
  align-self: center;
  text-align: center;
  width:23vw;
}

.hero-row h1 {
  font-size: 3em;
}

.hero-row h3 {
  font-size: 1.5em;
}

.hero-row p {
  font-size: 1em;
}

@media only screen and (max-width: 720px) {
  .hero-container {
    display:grid;
  }
  .hero-row {
    line-height:2em;
    width:100vw;
  }  
}
